<!DOCTYPE html>
<html>
    <head>

        <link href="index.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <title>new group</title>
    



   
    
</head>
<body>
  <div class="bar">
    <button class="custom-button" onclick="window.location.href='/logout'">Log Out</button>

<button class="custom-button" onclick="window.location.href='/home'">Home</button>
<button class="custom-button" id="friendRequestsButton">Friend Requests</button>
<button class="custom-button" onclick="window.location.href='https://www.facebook.com/profile.php?id=61556487513960'">Facebook</button>
<button id="statistics-button" class = "custom-button" onclick="window.location.href='/statistics' ">statistics</button>
<button id="plantStore-button" class = "custom-button" onclick="window.location.href='/plantStore' ">PlantStore</button>

  <div id="search-container" class="dropdown">
    <input type="text" id="search-input" placeholder>
    <script>
      document.getElementById('search-input').placeholder =   'search profile';
  </script>
    <button  id="search-button"></button>
    <div id="search-menu">
    </div>
  </div>
<button class="custom-button" id="profileBtn">
    <span id="userName"></span>
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="icon" class="button-icon updetedProfilePhoto" id="small-profile-pic" >  </button>
   </div></br></br>

   <div id="friendRequestsDropdown" class= "dropdown" style="display: none;">
    <!-- Friend requests will be populated here -->
  </div>
<div id="container">
 
  <form id="registration-form" action="/create-group" method="post">
    <label for="groupName">Group name:</label>
    <input type="text" id="groupName" name="groupName" required>
    <br><br>

    <label for="adminUsername">Admin username: </label>
    <input type="text" id="adminUsername" name="adminUsername" required>
    <br><br>

    <label for="adminPassword">  Admin password:</label>
    <input type="password" id="adminPassword" name="adminPassword" required>
    <br><br>

    <label for="search-input"> Search and select participants:</label>

      <input type="text" id="add-participants-search-input" placeholder>
      
      <button type="button" id="add-participants-search-button"></button>
      <div id="add-participants-search-menu"></div>
  

    
    <button type="submit">create group</button>
</form>
</div>

<script type="module"  src="../public/groupForm.js"></script>


</body>

</html>