<!DOCTYPE html>
<html>
    <head>

        <link href="login.css" rel="stylesheet">

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="288454897898-a2dej48iutcm4pn4heg9jr1grjeearok.apps.googleusercontent.com">
        <title>log in</title>
    



    <title>Google SignIn</title>
   
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
        <h1> Prototype</h1>
     

          <button class="custom-button" onclick="window.location.href='/google'"  > 
            <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="icon" class="button-icon"> <!-- התמונה -->
            &nbsp;&nbsp;&nbsp;Log in With Google
          </a>
          
</div>
</body>

        
    
        <script src="../public/loginPage.js"></script>
      
    
    
</html>