<!DOCTYPE html>
<html>
    <head>

        <link href="index.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <title>home</title>
    



   
    
</head>
<body>
<div class="bar">
    <button class="custom-button" onclick="window.location.href='/logout'">
  Log Out</button>

<button class="custom-button" onclick="window.location.href='/home'">
  Home</button>
  <button class="custom-button" id="friendRequestsButton">Friend Requests</button>
  <button class="custom-button" onclick="window.location.href='https://www.facebook.com/profile.php?id=61556487513960'">Facebook</button>

  <div id="search-container" class="dropdown">
    <input type="text" id="search-input" placeholder>
    <script>
      document.getElementById('search-input').placeholder =   'search profile';
  </script>
    <button  id="search-button"></button>
    <div id="search-menu">
    </div>
  </div>
  <button id="statistics-button" class = "custom-button" onclick="window.location.href='/statistics' ">statistics</button>
  <button id="plantStore-button" class = "custom-button" onclick="window.location.href='/plantStore' ">PlantStore</button>

<button class="custom-button" id="profileBtn">
    <span id="userName"></span>
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="icon" class="button-icon updetedProfilePhoto" id="small-profile-pic" >  </button>
   </div></br></br>

<div id="container">
 
  <div class="post-form">
    <div class="text-center">
      <div id="plantDetailsForm">
        <input type="text" id="plantName" placeholder="Plant Name">
        <input type="number" id="plantAge" placeholder="Plant Age">
        <input type="text" id="city" placeholder="City">
        <select id="seasonality">
            <option value="perennial">Perennial</option>
            <option value="seasonal">Seasonal</option>
        </select>
        <select id="growthConditions">
            <option value="full sun">Full Sun</option>
            <option value="partial shade">Partial Shade</option>
            <option value="full shade">Full Shade</option>
            <option value="indoor">Indoor</option>
        </select>
        <select id="difficultyLevel">
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
        </select>
        <select id="watering">
            <option value="low">Low watering</option>
            <option value="medium">Medium watering</option>
            <option value="high">High watering</option>
        </select>
        <input type="number" id="price" placeholder="Price">

    </div>    </div>
    <div id="previewContainer"></div>
    
    <div class="button-container">
        <button class="custom-button" id="upload-Media">Upload Photo</button>
        <button class="custom-button" id="post">Post</button>
    </div>
 </div>
    
     
  <div id="posts-container">
</div> 
<button class="custom-button" id="load-more">load more</button>

  <div class="uploadContainer" id="uploadContainer">
    <button class="close-button custom-button" id="closeButton">X</button> 

    <input type="file" id="postfileInput" class="custom-button" >
   <button class="custom-button" id="uploadfileButton">Upload</button>
   <div id="message"></div>
   
</div>




</div>
<div class="uploadContainer" id="uploadMessage">
  <div id="Message"></div>
</br>
  <button id="OKButton" class="custom-button"  >OK</button> 
  

  

</div>
<div id="friendRequestsDropdown" class= "dropdown" style="display: none;">
  <!-- Friend requests will be populated here -->
</div>



<div id="search-plants-form">
  <input type="text" id="search-plantName" placeholder="Plant Name">
  <input type="number" id="search-plantAge" placeholder="Plant Age">
  <input type="text" id="search-city" placeholder="City">
  <select id="search-seasonality">
      <option value="">Seasonality</option>
      <option value="perennial">Perennial</option>
      <option value="seasonal">Seasonal</option>
  </select>
  <select id="search-growthConditions">
      <option value="">Growth Conditions</option>
      <option value="full sun">Full Sun</option>
      <option value="partial shade">Partial Shade</option>
      <option value="full shade">Full Shade</option>
      <option value="indoor">Indoor</option>
  </select>
  <select id="search-difficultyLevel">
      <option value="">Difficulty Level</option>
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
  </select>
  <select id="search-watering">
      <option value="">Watering</option>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
  </select>
  <input type="number" id="search-minPrice" placeholder="Min Price">
  <input type="number" id="search-maxPrice" placeholder="Max Price">
  <button id="search-plant" class="custom-button">Search</button>
</div>

<div id="weather-container" style="text-align:center;">
  <img id="weather-icon" src="" alt="Weather Icon" style="width:100px;">
  <h3 id="temperature"></h3>
  <p id="weather-description"></p>
</div>



<script type="module"  src="../controller/plantStore.js"></script>


</body>

        
    

    
</html>